<template>
    <section>
        <!-- Filtros de la tabla -->
        <!-- Hola soy Argenis -->
        <!-- Hola soy Mariangel -->
        <!-- Hola soy Jonder-->
        <div class="row">
            <div class="col-md-1">
                <b>Filtros</b>
            </div>
            <div class="col-md-2">
                <label class="form-label">Fecha de generación</label>
                <input
                    class="form-control"
                    type="date"
                    placeholder="Fecha de generación"
                    tabindex="1"
                    v-model="filterBy.compromised_at"
                />
            </div>
            <div class="col-md-2">
                <label for="" class="form-label">Código del compromiso</label>
                <input
                    id="prefix"
                    class="form-control"
                    type="text"
                    placeholder="Código del compromiso"
                    tabindex="2"
                    v-model="filterBy.code"
                />
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button
                        type="reset"
                        class="btn btn-default btn-icon btn-xs-responsive px-3"
                        aria-label="Search"
                        @click="resetFilters()"
                        title="Limpiar filtro"
                    >
                        <i class="fa fa-eraser"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn-info btn-icon btn-xs-responsive px-3"
                        aria-label="Search"
                        @click="filterTable()"
                        title="Buscar"
                    >
                        <i class="fa fa-search"></i>
                    </button>
                    <p>XXXXXXXXXX</p>
                </div>
            </div>
        </div>
    </section>
</template>
